@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.eot');
    src: url('../../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Georgia.woff') format('woff'),
    url('../../assets/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.eot');
    src: url('../../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ArialMT.woff') format('woff'),
    url('../../assets/fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-ItalicMT.eot');
    src: url('../../assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
    url('../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}