@media (max-width: 767px) {
    .wrapper {
        width: 320px;
        padding: 0 10px;
    }

    .header {padding-top: 0;}

    .header .wrapper {       
        position: relative; 
        padding-top: 30px;
        justify-content: flex-start;
        
        transition: right 2s;
    }

    .header.active .wrapper {
        position: absolute;
        right: 0;
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 15;
        
    }

    
    .navigation {
        display: none;
        width: 100%; 
        transition: right 2s;
        right: -100%;
        

        &.active {
            position: absolute;
            height: 100vh;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $color-dark-3xl;
            z-index: 10; 
            animation-name: slidein;
            animation-duration: 0.5s;
        
        }

        // &.closed {
        //     animation-name: slideout;
        //     animation-duration: 0.5s;
        // }
    }

    .logo{z-index: 20;}
    
    
    

    .navigation__item {
        margin-bottom: 40px;
        margin-left: 0;
        
        &:last-child {
        margin-bottom: 0;
    }

        & a{
            font-size: 32px;
            line-height: 160%; 
        }
    }

    .burger {
        z-index: 20;
        margin-left: 43px;
        width: 30px;
        height: 22px;
        background-image: url('../../assets/icons/Burger.svg');
        cursor: pointer;
        flex-shrink: 0;
        transition: transform 0.5s ease-in-out;
        
        &.active {
            transform: rotate(90deg);
        }
    }
    
    .promo__content {
        text-align: center;
        width: 100%;
        margin-bottom: 106px;
    }

    .promo .wrapper {
       h2 {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em; 
        width: 100%;
        } 
        img {width: 260px;}
    }

    .promo__info {
        width: auto;
    }

    h3 {
        font-size: 25px;
        line-height: 130%;
        width: auto;
        text-align: center;
    }

    .about__content {
        align-items: center;
        padding: 42px 0;
        width: auto;
        img {width: 260px;}
        .about__text {
        width: 270px;
        padding-bottom: 40px;
        p {text-align: justify;}
        h3 {width: 270px; }
        }
    }

    .pets__content{
        padding: 42px 0;
        h3{width: 300px;}

        .card:nth-child(2) {
            display: none;
        }

        .pets__gallery{
            flex-wrap: wrap;
            padding: 42px 0 42px;
            justify-content: center;

            &>button {
                margin: 19px 40px 0;
            }
        }

        .pets__cards {order: -1;}
    }

    .help{padding: 42px 0;}

    .help__categories {
        justify-content: space-between;
        margin: 13px 5px 0;
    }

    .categories__item {
        background-size: 50px;
        min-width: 50px;
        font-size: 15px;
        line-height: 110%;
        padding-top: 70px;
        width: 130px;
        margin: 31px 0 0;
    }
    
    .donation {
        padding: 42px 0;
        img {width: 260px;}
    }

    .donation__info{
        width: auto;
        align-items: center;
        padding: 0 10px 44px;

    }

    .donation__card-info {
        letter-spacing: normal;
        font-size: 15px;
        line-height: 160%;
        // padding: 0 10px;
    }

    .donation__number {
        font-size: 15px;
        line-height: 110%;
        padding: 14px 15px 14px 59px;
    }

    .donation__remark {text-align: justify;}

    .columns-container {
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .footer__content {
        padding: 0;
        &>img {width: 260px;}
    }

    .footer__column{
        height: auto;
        width: auto;
        margin-bottom: 40px;
        h3 {
            white-space: normal;
            padding: 0 5px;
        }
    }

    .footer__link {margin-top: 40px;}

    .contacts {align-items: center;}

    
}