@media (max-width: 767px) {
    .wrapper {
        width: 320px;
        padding: 0 10px;
    }

    .navigation {
        display: none;
    }

    .burger {
        margin-right: 43px;
        width: 30px;
        height: 22px;
        background-image: url('../../assets/icons/Burger.svg');
        cursor: pointer;
    }
    
    .promo__content {
        text-align: center;
        width: 100%;
        margin-bottom: 106px;
    }

    .promo .wrapper {
       h2 {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em; 
        width: 100%;
        } 
        img {width: 260px;}
    }

    .promo__info {
        width: auto;
    }

    h3 {
        font-size: 25px;
        line-height: 130%;
        width: auto;
        text-align: center;
    }

    .about__content {
        align-items: center;
        padding: 42px 0;
        width: auto;
        img {width: 260px;}
        .about__text {
        width: 270px;
        padding-bottom: 40px;
        p {text-align: justify;}
        h3 {width: 270px; }
        }
    }

    .pets__content{
        padding: 42px 0;
        h3{width: 300px;}

        .card:nth-child(2) {
            display: none;
        }

        .pets__gallery{
            flex-wrap: wrap;
            padding: 42px 0 42px;
            justify-content: center;
            column-gap: 80px;
            row-gap: 19px;
        }

        .pets__cards {order: -1;}
    }

    .help{padding: 42px 0;}

    .help__categories {
        justify-content: start;
        column-gap: 30px;
        margin: 13px 5px 0;
    }

    .categories__item {
        background-size: 50px;
        min-width: 50px;
        font-size: 15px;
        line-height: 110%;
        padding-top: 70px;
        width: 130px;
        margin: 31px 0 0;
    }
    
    .donation {
        padding: 42px 0;
        img {width: 260px;}
    }

    .donation__info{
        width: auto;
        align-items: center;
        padding: 0 10px 44px;

    }

    .donation__card-info {
        letter-spacing: normal;
        font-size: 15px;
        line-height: 160%;
        // padding: 0 10px;
    }

    .donation__number {
        font-size: 15px;
        line-height: 110%;
        padding: 14px 15px 14px 59px;
    }

    .donation__remark {text-align: justify;}

    .columns-container {
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .footer__content {
        padding: 0;
        &>img {width: 260px;}
    }

    .footer__column{
        height: auto;
        width: auto;
        margin-bottom: 40px;
        row-gap: 40px;
        h3 {
            white-space: normal;
            padding: 0 5px;
        }
    }

    .contacts {align-items: center;}

    
}