body {
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
}

body.lock {
    overflow: hidden;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.6);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

  
.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 60px;
    margin: 0 auto;
    
    
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.logo__title {
    font-family: $font-primary;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: $color-primary;
}

.logo__subtitle {
    font-family: $font-secondary;
    padding-top: 10px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: $color-light-xl;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation__item {
    margin-left: 36px;
}

.navigation__item a {
    font-family: $font-secondary;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    padding-bottom: 2px;

    &:hover, &:focus {
        color: $color-light-s;
    }
}

.navigation__item.disabled a {
    pointer-events: none;
}

.navigation__item_active a {
    // color: $color-light-s;
    border-bottom: 3px solid $color-primary;
    &:hover, &:focus {
        color: $color-light-s;
    }
}
